/* add css here */
@font-face {
    font-family: "Hollywood";
    src: url('hollywood_hills/SF\ Hollywood\ Hills.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #FFFFFF;
    background-color: #353535;
    font-family: sans-serif;
    padding: 10px;
}

header {
    padding: 10px;
    padding-left: 20px;
    background-color: #222222;
}

h1 {
    font-family: "Hollywood";
    font-size: 40pt;
    text-shadow: 1px 1px 4px orange;
}

/* nav bar movie list horizontal & no bullet points */
li {
    list-style: none;
    display: inline;
}

/* search bar */
#form {
    float: right;
    padding: 10px;
}

/* movie poster thumbnail display */
#poster_pane {
    display: flex;
    overflow-x: auto;
    margin: 1rem 1rem;
    max-width: calc(100vw - 2rem);
}

/* poster formating in thumbnail pane */
.poster {
    height: 200px;
    margin: 20px;
    cursor: pointer;
}

.poster:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: ease-in 0.05s;
    box-shadow: 4px 4px 4px 2px #222222;
}

#movie-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.list {
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    font-family: "Hollywood";
    text-shadow: 1px 1px 4px black;
}

.list:hover { 
    z-index: 1;
    transform: scale(1.1);
}

.search {
    background-color: white;
    border: 2px solid color #222222;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    font-family: inherit;
}

#movie-image {
    float: left;
    padding: 30px;
    height: 300px;
}

#text-details {
    padding: 30px;
}

/* button styling */
button {
    display: inline-block;
    border-radius: 5px;
    border-style: hidden;
    width: 60px;
    height: 25px;
    text-align: center;
    font-weight: bold;
}

button:hover {
    background-color: red;
    color: white;
}

button#liked {
    background-color: red;
    color: white;
}

button#liked:hover {
    color: black;
}