/* add css here */

/* movie list horizontal & no bullet points */
li {
    list-style: none;
    display: inline;
}

/* search bar */
#form {
    float: right;
}

/* movie poster thumbnail display */
#poster_pane {
    display: flex;
    overflow-x: auto;
    margin: 1rem 1rem;
    max-width: calc(100vw - 2rem);
}

.poster {
    flex: 1 1 auto;
    height: 200px;
    margin: 20px;
    cursor: pointer;
}

.poster:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: ease-in 0.05s;
    box-shadow: 4px 4px 4px 2px #222222;
}

body {
    color: #FFFFFF;
    background-color: #353535;
}

header {
    padding: 12px;
    background-color: #222222;
}

#movie-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.list {
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.list:hover { /* feel free to remove this if it doesn't look good. I am just trying out different things  */
    z-index: 1;
    transform: scale(1.25);
}

.search {
    background-color: white;
    border: 2px solid color #222222;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
    font-family: inherit;
}
