/* add css here */

/* movie list horizontal & no bullet points */
li {
    list-style: none;
    display: inline;
}

/* search bar */
#form {
    float: right;
}

/* movie poster thumbnail display */
#poster_pane {
    display: flex;
    overflow-x: auto;
    margin: 1rem 1rem;
    max-width: calc(100vw - 2rem);
}

#poster {
    
}